extends component-box

block page_content
  .band
    img(src="#{webtop}images/band2.png")
  .fee_suggest
    .fee_number
        img.imgbox(src="#{webtop}images/fee_number2.png")
    .fee_price
      img.imgbox(src="#{webtop}images/fee_price_info1.png")
    .fee_last_time
      .last_time
        .day 15
        .hour 23
        .minute 29
        .second 50

    .fee_droit1
      img.imgbox(src="#{webtop}images/droit1.png")

  .gofee
    .gofee-title 等待成团，还差4人拼成
    .gofee-btn

    .gofee-ul-list
      .gofee-item
        .item-img
          img(src="#{webtop}images/2.png", alt="")
        .item-name.ellipsis-1 王先生
      .gofee-item
        .item-img
          img(src="#{webtop}images/2.png", alt="")
        .item-name.ellipsis-1 王先生
      .gofee-item
        .item-img
          img(src="#{webtop}images/1.png", alt="")
        .item-name.ellipsis-1
      .gofee-item
        .item-img
          img(src="#{webtop}images/1.png", alt="")
        .item-name.ellipsis-1
      .gofee-item
        .item-img
          img(src="#{webtop}images/1.png", alt="")
        .item-name.ellipsis-1
    .gofee-time
      .start-time 2017-12-10 10:12:20
      .end-time 2017-12-10 10:12:20

  include component-ruleflow
