extends component-box

block page_content
  .band
    img(src="#{webtop}images/band1.png")
  .fee_simple_ul
    .fee_simple_item
      .fee_stutas
        img.imgbox(src="#{webtop}images/fee1.png")
      .fee_price
        img.imgbox(src="#{webtop}images/fee_price1.png")
      .old_price
        img.imgbox(src="#{webtop}images/old_price1.png")
      .fee_number
        img.imgbox(src="#{webtop}images/fee_number2.png")
      .gobtn_box
        a.gobtn.gobtn_active(href="five_fee1.html")
          img.imgbox(src="#{webtop}images/gobtn1.png")
        .gobtn
          img.imgbox(src="#{webtop}images/gobtn3.png")

    .fee_simple_item
      .fee_stutas
        img.imgbox(src="#{webtop}images/fee2.png")
      .fee_price
        img.imgbox(src="#{webtop}images/fee_price2.png")
      .old_price
        img.imgbox(src="#{webtop}images/old_price2.png")
      .fee_number
        img.imgbox(src="#{webtop}images/fee_number1.png")
      .gobtn_box
        a.gobtn.gobtn_active(href="three_fee1.html")
          img.imgbox(src="#{webtop}images/gobtn2.png")
        .gobtn
          img.imgbox(src="#{webtop}images/gobtn3.png")
  include component-ruleflow
  
  .right_fixed
    
