extends ../component-header

block css
  link(rel="stylesheet",type="text/css", href="#{webtop}css/index.css")

block content
  .page_box_index
    .plastic_ts

    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img6.png", alt="")
        
      .modle-main
        .plastic-world.
          为增进中国塑料橡胶企业与世界企业经济贸易交往，91再生将于2019年4月25日-27日，在浙江宁波开展“绿色赋能 再生无界”第十届宁波国际塑料橡胶工业展览会暨91再生第四届再生塑料峰会。
          本次大会旨在帮助行业建立渠道，为再生塑料产业搭建良好的商贸对接和供求渠道。大会还将邀请相关部门及知名行业专家为再生资源行业解读行业政策，以此促进行业交流，加速行业升级，助力产、学、研一体化发展。
          <br>91再生，专业的再生资源综合服务平台，致力于为客户提供再生资源撮合交易服务的同时，助推再生资源行业健康发展。
    
    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img7.png", alt="")
      
      .modle-main
        .plstic_star.weui-flex
          .weui-flex__item
            .star-icon-bg
              .star-icon1
            .star-title.
              <span>联合</span>打造
            .star-detail
              依托91再生海量优质资源优势，创新互动运营机制，与“第十届宁波国际塑料橡胶工业展览会”强强联合，打造再生塑料专业展会
          
          .star_hr

          .weui-flex__item
            .star-icon-bg
              .star-icon2
            .star-title.
              <span>聚焦</span>热点
            .star-detail
              邀请行业资深学者，切合再生塑料行业热点形式，政策性，思想性突出，行业引领作用突出

          .star_hr
          
          .weui-flex__item
            .star-icon-bg
              .star-icon3
            .star-title.
              <span>精准</span>供需
            .star-detail.
              91再生作为第三方平台提前匹配供需信息，审核供销资质，打造再生塑料行业精准商贸交流
            
    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img8.png", alt="")
      
      .modle-main
        .plstic-scope
          .p_scope_li.weui-flex
            .scope-em.weui-flex__item 
              .scope-em-main 塑料类
            .scope_hr
            .scope-em.weui-flex__item 
              .scope-em-main 塑料机械类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 化工原料与助剂类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 橡胶、弹性体与机械类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 塑料橡胶辅助设备类
          .p_scope_li
            .scope-em.weui-flex__item
              .scope-em-main 塑料包装与薄膜产品类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 塑料塑料回收技术设备

    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img9.png", alt="")
      
      .modle-main
        .plastic_play
          .p_play_img
          a(href="").play_go 点击进入直播
    
    .plastic-modle(style="display:none")
      .modle-title
        img.pic-tile(src="#{webtop}images/img10.png", alt="")
      
      .modle-main

    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img11.png", alt="")
      
      .modle-main
        .plastic-rout
          .rout-time  4月25日
          .rout-list
            .rout-li.weui-flex
              .rout-list-left.
                上午场<br>
                09:00-11:30<br>
                政策、发展趋势、<br>
                回收体系
              .weui-flex__item
                ul.rout-detail-list
                  li. 
                    2018再生塑料概况及2019发展趋势
                  li. 
                    中国再生资源回收现状及体系建设
                  li. 
                    再生行业税收优惠以及政策扶持研究
                  li. 
                    进口政策下的再生塑料企业可持续发展探讨
            
            .rout-li.weui-flex
              .rout-list-left.
                下午场<br>
                13:30—17:00<br>
                环保、海外投资、<br>
                改性塑料、设备
              .weui-flex__item
                ul.rout-detail-list
                  li. 
                    环保风暴持续升级，如何实现再生塑料行业的绿色发展
                  li. 
                    新形势下的高标准设备技术革新
                  li. 
                    再生塑料“百家诚信”年度榜单揭晓
                  li. 
                    再生塑料的海外投资环境分析
                  li.
                    中国改性塑料企业的崛起<br>圆桌论坛

            .rout-li.weui-flex
              .rout-list-left.
                晚宴<br>
                18:00-20:00
              .weui-flex__item
                ul.rout-detail-list
                  li. 
                    交流晚宴

    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img12.png", alt="")
      
      .modle-main
        .histy_show
          .histy_show
            .histy_show_main

    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img13.png", alt="")
      
      .modle-main
        .plastic-contact.weui-flex
          .erwei
            img(src="#{webtop}images/hq_erwei.png", alt="")
          .weui-flex__item.contact_detail.
            联系人  /  黄 琴<br>
            电　话  /  151 5881 2529<br>
            微信号  /  151 5881 2529<br>
            邮　箱  /  huangq@asto-inc.com

              
  .left_nav
    a.left_nab_li.lnav1(href="#")
    a.left_nab_li.lnav2(href="#")
    a.left_nab_li.lnav3(href="#")
    a.left_nab_li.lnav4(href="#")
    a.left_nab_li.lnav5(href="#")

  .bt_nav
    .bt_nav_main.weui-flex
      a.weui-flex__item.nav_li(href="").thisnav
        .nav_li_c
          i.nav_icon1
          div 首页
      a.weui-flex__item.nav_li(href="")
        .nav_li_c
          i.nav_icon2
          div 招商
      a.weui-flex__item.nav_li(href="")
        .nav_li_c
          i.nav_icon3
          div 报名
      a.weui-flex__item.nav_li(href="")
        .nav_li_c
          i.nav_icon4
          div 奖项