extends component-box

block css
  link(rel="stylesheet",type="text/css",href="//m.zz91.com/zt/17feidzH5/css/swiper.min.css")
  script(src="//m.zz91.com/zt/17feidzH5/js/swiper.min.js")
  link(rel="stylesheet",type="text/css", href="#{webtop}css/index.css")
  

block content
  a(name="top")
  .page_box_index
    .plastic_ts

    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img6.png", alt="")
        
      .modle-main
        .plastic-world.
          为增进中国塑料橡胶企业与世界企业经济贸易交往，91再生将于2019年4月25日-27日，在浙江宁波开展“绿色赋能 再生无界”第十届宁波国际塑料橡胶工业展览会暨91再生第四届再生塑料峰会。
          本次大会旨在帮助行业建立渠道，为再生塑料产业搭建良好的商贸对接和供求渠道。大会还将邀请相关部门及知名行业专家为再生资源行业解读行业政策，以此促进行业交流，加速行业升级，助力产、学、研一体化发展。
          <br>91再生，专业的再生资源综合服务平台，致力于为客户提供再生资源撮合交易服务的同时，助推再生资源行业健康发展。
    
    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img7.png", alt="")
      
      .modle-main
        .plstic_star.weui-flex
          .weui-flex__item
            .star-icon-bg
              .star-icon1
            .star-title.
              <span>联合</span>打造
            .star-detail
              依托91再生海量优质资源优势，创新互动运营机制，与“第十届宁波国际塑料橡胶工业展览会”强强联合，打造再生塑料专业展会
          
          .star_hr

          .weui-flex__item
            .star-icon-bg
              .star-icon2
            .star-title.
              <span>聚焦</span>热点
            .star-detail
              邀请行业资深学者，切合再生塑料行业热点形式，政策性，思想性突出，行业引领作用突出

          .star_hr
          
          .weui-flex__item
            .star-icon-bg
              .star-icon3
            .star-title.
              <span>精准</span>供需
            .star-detail.
              91再生作为第三方平台提前匹配供需信息，审核供销资质，打造再生塑料行业精准商贸交流

    a(name="scope")       
    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img8.png", alt="")
      
      .modle-main
        .plstic-scope
          .p_scope_li.weui-flex
            .scope-em.weui-flex__item 
              .scope-em-main 塑料类
            .scope_hr
            .scope-em.weui-flex__item 
              .scope-em-main 塑料机械类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 化工原料与助剂类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 橡胶、弹性体与机械类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 塑料橡胶辅助设备类
          .p_scope_li
            .scope-em.weui-flex__item
              .scope-em-main 塑料包装与薄膜产品类
          .p_scope_li
            .scope-em.weui-flex__item 
              .scope-em-main 塑料塑料回收技术设备

    .plastic-modle(style="display:none")
      .modle-title
        img.pic-tile(src="#{webtop}images/img9.png", alt="")
      
      .modle-main
        .plastic_play
          .p_play_img
          a(href="").play_go 点击进入直播
    
    .plastic-modle(style="display:none")
      .modle-title
        img.pic-tile(src="#{webtop}images/img10.png", alt="")
      
      .modle-main

    a(name="rout")
    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img11.png", alt="")
      
      .modle-main
        .plastic-rout
          .rout-time  4月25日
          .rout-list
            .rout-li
              .weui-flex
                .rout-list-left.
                  9:00-9:15<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      致开场辞-91再生总经理刘宁
              .weui-flex
                .rout-list-left.
                  9:15-10:15<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      2018-2019中国再生塑料行业发展报告和全球投资分析-中国物资再生协会再生塑料分会秘书长王永刚
              .weui-flex
                .rout-list-left.
                  10:15-11:00<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      环保风暴持续升级，如何实现绿色发展-中国环境科学研究院研究员郭玉文
              .weui-flex
                .rout-list-left.
                  11:00-11:30<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      91再生·再生影响力2018年度榜单颁奖仪式
              .weui-flex
                .rout-list-left.
                  11:30-12:00<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      互联网赋能再生塑料行业-91再生营销副总经理黄琴

            
            .rout-li.weui-flex
              .rout-list-left.
                12:00-14:00<br>
              .weui-flex__item
                ul.rout-detail-list
                  li. 
                    参展时间
            
            .rout-li
              .weui-flex
                .rout-list-left.
                  14:00-14:30<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      新形势下的高标准设备技术革新-优秀设备企业
              .weui-flex
                .rout-list-left.
                  14:30-15:00<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      再生塑料行业税收政策研究-91再生供应链金融总监韩世林
              .weui-flex
                .rout-list-left.
                  15:00-15:30<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      中国改性塑料企业的崛起-优秀改性塑料企业
              .weui-flex
                .rout-list-left.
                  15:30-16:00<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      再生塑料行业互联网用户2019白皮书发布-91再生品牌总监赵晓茜
               .weui-flex
                .rout-list-left.
                  16:00-17:00<br>
                .weui-flex__item
                  ul.rout-detail-list
                    li. 
                      圆桌论坛：再生塑料企业可持续发展探讨

            .rout-li.weui-flex
              .rout-list-left.
                18:00-20:00
              .weui-flex__item
                ul.rout-detail-list
                  li. 
                    交流晚宴

    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img12.png", alt="")
      
      .modle-main
        .histy_show
          .histy_show_main
            .swiper-container.zz-fuwu-tpbox
              .swiper-wrapper.zz-tpbox-mian
                - var imglist = ['image0.jpg','image1.jpg','image2.jpg','image3.jpg','image4.jpg','image5.jpg','image6.jpg','image7.jpg','image8.jpg','image9.jpg','image10.jpg','image11.jpg','image12.jpg','image13.jpg','image14.jpg','image16.jpg','image17.jpg','image18.jpg','image19.jpg']
                each item in imglist
                  .swiper-slide
                    img(src="#{webtop}images/#{item}",alt="")

    a(name="lianxi")
    .plastic-modle
      .modle-title
        img.pic-tile(src="#{webtop}images/img13.png", alt="")
      
      .modle-main
        .plastic-contact.weui-flex
          .erwei
            img(src="#{webtop}images/hq_erwei.png", alt="")
          .weui-flex__item.contact_detail.
            联系人  /  黄 琴<br>
            电　话  /  <a href="tel:15158812529">151 5881 2529</a><br>
            微信号  /  151 5881 2529<br>
            邮　箱  /  huangq@asto-inc.com

              
  .left_nav
    //- a.left_nab_li.lnav1(href="#")
    a.left_nab_li.lnav5(href="#scope")
    a.left_nab_li.lnav2(href="#rout")
    a.left_nab_li.lnav3(href="#lianxi")
    a.left_nab_li.lnav4(href="#top")

  - var navindex = 0
  include component-navbt

block script
  script.
    var swiper = new Swiper('.swiper-container', {
      pagination: '.swiper-pagination',
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      initialSlide: 1,
      slidesPerView: 'auto',
      autoplay: 3000,
      coverflow: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true
      }
    });
