section.swiper-slide.page6(data-hash="slide6")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = []
      each item in imglist
        img(src="#{webtop}images/#{item}")
    
    .slide-main_box
      img.page_bg(src='#{webtop}/images/06.png')
      
      img.page6-md1(src="#{webtop}/images/objname.png")
      img.page6-md2(src="#{webtop}/images/time.png")
      .page6-md3
        .page6-md3-img 
          img(src="#{webtop}/images/cord.png", alt="")
        .page6-md3-wd.
          联系人：黄琴<br>
          联系方式：15158812529
      img.page6-md4(src="#{webtop}/images/qdai.png")

      .page6-md5 本活动最终解释权归91再生所有



