section.swiper-slide.page5(data-hash="slide5")
  .slide-main
    .imgmd_box(style="display:none")
      -var imglist = []
      each item in imglist
        img(src="#{webtop}images/#{item}")
    
    .slide-main_box
      img.page_bg(src='#{webtop}/images/02_toppic.png')
      .page-up.ptabsolet
      
      .page-content.ani(swiper-animate-effect="zoomIn",swiper-animate-duration="0.5s",swiper-animate-delay=".5s")
        .page-content-top

        img.page3-md1(src="#{webtop}/images/ptitle3.png")
        .page3-md2

        .page5-md1 91再生·再生影响力2018年度榜单入围企业公开投票环节正在火热进行中，长按下方二维码即可进入投票环节，为您所在企业投上宝贵一票。
        .page5-md2
          img(src="#{webtop}/images/05_cord.png") 
                        



